.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-top: -50px !important;
    margin: auto;
    display: block;
    text-align: center;
  }